{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" integrity="sha512-f8mUMCRNrJxPBDzPJx3n+Y5TC5xp6SmStstEfgsDXZJTcxBakoB5hvPLhAfJKa9rCvH+n3xpJ2vQByxLk4WP2g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css" integrity="sha512-sopmFEmRVsWt542K+yzH3FQ1KJfdosOJG+bGLs9ZJT07b/3gUxRA9ICuJg2JtoZ9WeknAUuwJ0ggnmrV1YL6kQ==" crossorigin="anonymous" />

    <link rel="stylesheet" href="{% static 'GRE_Website/main.css' %}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    {% block head %}{% endblock head %}

    {% if title %}
        <title>GRE & Masters Portal - {{ title }}</title>
    {% else %}
        <title>GRE & Masters Portal</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'GRE_Website-home' %}">GRE & Masters</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'GRE_Website-home' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'GRE_Website-about' %}">About</a>
                        <a class="nav-item nav-link" href="{% url 'GRE_Website-universityform' %}">Find University</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                            <a class="nav-item nav-link" href="{% url 'users-profile' %}">Profile</a>
                            <a class="nav-item nav-link" href="{% url 'users-logout' %}">Logout</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'users-login' %}">Login</a>
                            <a class="nav-item nav-link" href="{% url 'users-register' %}">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="flex-wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>

        <footer class="footer align-items-end">
            <div class="container">
                <div class="row">
                    <div class="col-4 offset-1 col-sm-2">
                        <h5>Links</h5>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'GRE_Website-home' %}">Home</a></li>
                            <li><a href="{% url 'GRE_Website-about' %}">About</a></li>
    <!--                        <li><a href="#">__</a></li>-->
    <!--                        <li><a href="">__</a></li>-->
                        </ul>
                    </div>
                    <div class="col-7 col-sm-5">
                        <h5>Our Address</h5>
                        <address>
                          121, Clear Water Bay Road<br>
                          Clear Water Bay, Kowloon<br>
                          MAHARASHTRA, INDIA<br>
                          <div class="mb-2"></div>
                          <i class="fa fa-phone"></i> : +91 1234 5678<br>
                          <i class="fa fa-fax"></i> : +91 8765 4321<br>
                          <i class="fa fa-envelope"></i> : <a href="mailto:rhythm.munot@spit.ac.in">rhythm.munot@spit.ac.in</a>
                        </address>
                    </div>
                    <div class="col-12 col-sm-4 align-self-center">
                        <div class="text-center">
                            <a class="btn btn-social-icon btn-google btn-sm" href="http://google.com/+"><i class="fab fa-google-plus"></i></a>&nbsp;
                            <a class="btn btn-social-icon btn-facebook btn-sm" href="http://www.facebook.com/profile.php?id="><i class="fab fa-facebook"></i></a>&nbsp;
                            <a class="btn btn-social-icon btn-linkedin btn-sm" href="http://www.linkedin.com/in/"><i class="fab fa-linkedin"></i></a>&nbsp;
                            <a class="btn btn-social-icon btn-twitter btn-sm" href="http://twitter.com/"><i class="fab fa-twitter"></i></a>&nbsp;
    <!--                        <a class="btn btn-social-icon btn-youtube btn-sm" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>&nbsp;-->
                            <a class="btn btn-social-icon btn-sm" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                        </div>
                    </div>
               </div>
               <div class="row">
                    <div class="col">
                        <p style="text-align: center;">© Copyright 2020 GRE & Masters</p>
                    </div>
               </div>
            </div>
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>