{% extends "GRE_Website/base.html" %}

{% load static %}

{% block head %}
    <head>
        <link rel="stylesheet" href="{% static 'GRE_Website/form.css' %}">
    </head>
{% endblock head %}

{% block content %}
    <div class="container container-form">
        <div class="card form-card">
            <div class="card-header">
                <h4 class="text-center">Search University</h4>
            </div>
            <article class="card-body mx-auto" style="min-width: 550px;">
                <p class="text-center">Fill the Form to proceed.</p>

                <form class="finduniversity-form">
                        <!-- Form Name -->
                        <!--<legend>Form Name</legend>-->
                        <!-- Text input-->
                        <div class="form-group">
                            <div class="row form-row">
                                <label class="col-12 col-md-3 control-label" for="fullname">Full Name</label>
                                <div class="col-12 col-md-9">
                                    <input id="fullname" name="fullname" type="text" placeholder="Full Name" class="form-control input-md" required="">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <!-- Text Input-->
                        <div class="form-group">
                            <div class="row form-row">
                                <label class="col-12 col-md-3 control-label" for="email">Email</label>
                                <div class="col-12 col-md-9">
                                    <input id="email" name="email" class="form-control" placeholder="Email" type="text" required="">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <!-- Select Basic -->
                        <div class="form-group">
                            <div class="row form-row">
                                <label class="col-12 col-md-3 control-label" for="collegename">College Name</label>
                                <div class="col-12 col-md-9">
                                    <select id="collegename" name="collegename" class="form-control" required="">
                                        <option value="1">Option one</option>
                                        <option value="2">Option two</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Select Basic -->
                        <div class="form-group mt-3">
                            <div class="row form-row">
                                <label class="col-12 col-md-3 control-label" for="country">Country</label>
                                <div class="col-12 col-md-9">
                                    <select id="country" name="country" class="form-control" required="">
                                        <option value="1">Option one</option>
                                        <option value="2">Option two</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Select Basic -->
                        <div class="form-group">
                            <div class="row form-row">
                                <label class="col-12 col-md-3 control-label" for="university">University</label>
                                <div class="col-12 col-md-9">
                                    <select id="university" name="university" class="form-control" required="">
                                        <option value="1">Option one</option>
                                        <option value="2">Option two</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group mt-3">
                            <div class="row form-row">
                                <label class="col-12 col-md-3 control-label" for="cgpa">CGPA</label>
                                <div class="col-12 col-md-9">
                                    <input id="cgpa" name="cgpa" type="text" placeholder="E.g. 9.15" class="form-control input-md" required="">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <!-- Select Basic -->
                        <div class="form-group">
                            <div class="row form-row">
                                <label class="col-12 col-md-3 control-label" for="exammode">Entrance Exam</label>
                                <div class="col-12 col-md-9">
                                    <select id="exammode" name="exammode" class="form-control" required="">
                                        <option value="1">Option one</option>
                                        <option value="2">Option two</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <div class="row form-row">
                                <label class="col-12 col-md-3 control-label" for="examscore">Exam Score</label>
                                <div class="col-12 col-md-9">
                                    <input id="examscore" name="examscore" type="text" placeholder="Score" class="form-control input-md" required="">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <div class="row form-row">
                                <label class="col-12 col-md-3 control-label" for="fees">Max Affordable Fees</label>
                                <div class="col-12 col-md-9">
                                    <input id="fees" name="fees" type="text" placeholder="Fees" class="form-control input-md" required="">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                </form>
            </article>
        </div>
    </div>
{% endblock content %}