{% extends 'GRE_Website/base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'GRE_Website/register.css' %}">
{% endblock head %}

{% block content %}
    <div class="container container-register">
        <div class="card register-card">
            <div class="card-header">
                <h4 class="text-center">Create Account</h4>
            </div>
            <article class="card-body mx-auto" style="max-width: 400px;">
                <p class="text-center">Get started with your free account today!</p>
                <p>
                    <a href="" class="btn btn-block btn-google"> <i class="fab fa-google"></i>   Login via Google</a>
                    <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
                    <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via Facebook</a>
                </p>
                <p class="divider-text">
                    <span class="bg-light">OR</span>
                </p>

                <form class="register-form">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input name="" class="form-control" placeholder="Full name" type="text">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input name="" class="form-control" placeholder="Email address" type="email">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                        </div>
                        <select class="custom-select" style="max-width: 80px;">
                            <option selected="">+91</option>
                            <option value="1">+972</option>
                            <option value="2">+198</option>
                            <option value="3">+701</option>
                        </select>
                        <input name="" class="form-control" placeholder="Phone number" type="text">
                    </div>
                    <!-- form-group// -->
<!--                    <div class="form-group input-group">-->
<!--                        <div class="input-group-prepend">-->
<!--                            <span class="input-group-text"> <i class="fa fa-building"></i> </span>-->
<!--                        </div>-->
<!--                        <select class="form-control">-->
<!--                            <option selected=""> Select job type</option>-->
<!--                            <option>Engineer</option>-->
<!--                            <option>Manager</option>-->
<!--                            <option>Accounting</option>-->
<!--                        </select>-->
<!--                    </div>-->
                    <!-- form-group end.// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" placeholder="Create password" type="password">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" placeholder="Confirm password" type="password">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                    </div>
                    <!-- form-group// -->
                    <p class="text-center">Already Have an account? <a style="color: darkblue;" href="{% url 'GRE_Website-login' %}">Log In</a> </p>
                    <!-- card.// -->
                </form>
            </article>
        </div>
        <!-- card.// -->
    </div>
{% endblock %}
