{% extends "GRE_Website/base.html" %}

{% load static %}
{% load formtags %}
{% block head %}
    <head>
        <link rel="stylesheet" href="{% static 'GRE_Website/universityform.css' %}">
    </head>
{% endblock head %}

{% block content %}
    <div class="container container-form">
        <div class="card form-card">
            <div class="card-header">
                <h4 class="text-center">Search University</h4>
            </div>
            <article class="card-body mx-auto" style="max-width: 550px;">
                <p class="text-center">Fill the Form to proceed.</p>

                <form class="finduniversity-form" method="POST">
                    {% csrf_token %}
                    <!-- Text input-->
                    {% for field in form %}
                        {% if field.label != 'Fees extra' and field.label != 'University Name' and field.label != 'Course Name' %}
                            <div class="form-group">
                                <div class="row form-row">
                                    <div class="col-12 col-md-4 mt-2">
                                        {{ field.label }}
                                    </div>
                                    <div class="col-12 col-md-8">
                                        {{ field }}
                                        <span class="help-block" style="font-size: 18px; color: green">
                                            <small>{{ field.help_text }}</small>
                                        </span>
                                        {% for error in field.errors %}
                                        <span class="error-block" style="font-size: 18px; color: red">
                                            <p><small>{{ error }}</small></p>
                                        </span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% elif field.label != 'Fees extra' %}
                            <div class="form-group">
                                <div class="row form-row">
                                    <div class="col-12 col-md-4 mt-2">
                                        {{ field.label }}
                                    </div>
                                    <div class="col-12 col-md-8">
                                        {{ field }}
                                        <span class="help-block" style="font-size: 18px; color: green">
                                            <small>{{ field.help_text }}</small>
                                        </span>
                                        {% for error in field.errors %}
                                        <span class="error-block" style="font-size: 18px; color: red">
                                            <p><small>{{ error }}</small></p>
                                        </span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="form-group">
                        <div class="row form-row">
                            <div class="col-12 col-md-12 mt-2">
                                {{ form.fees_extra|blabel:"Do you Want to Account for Extra Costs? Hostels, Books, Meals... " }}
                                {{ form.fees_extra }}
                            </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <!--Submit Button-->
                    <div class="form-group">
                        <div class="row form-row justify-content-center">
                            <div class="col-5 mx-auto">
                                <button type="reset" name="clearform" class="btn btn-block btn-danger" value="Clear Form">Clear Form</button>
                            </div>
                            <div class="col-5 mx-auto">
                                <button type="submit" name="submitform" class="btn btn-block btn-primary" value="Submit Form">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </article>
        </div>
    </div>
{% endblock content %}