{% extends 'GRE_Website/base.html' %}

{% load static %}
{% load formtags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'users/register.css' %}">
{% endblock head %}

{% block content %}
    <div class="container container-register">
        <div class="card register-card">
            <div class="card-header">
                <h4 class="text-center">Create Account</h4>
            </div>
            <article class="card-body mx-auto" style="max-width: 400px;">
                <p class="text-center">Get started with your free account today!</p>
                <p>
                    <a href="" class="btn btn-block btn-google"> <i class="fab fa-google"></i>   Login via Google</a>
                    <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
                    <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via Facebook</a>
                </p>
                <p class="divider-text">
                    <span class="bg-light">OR</span>
                </p>

                <form class="register-form" method="post">
                    {% csrf_token %}
                    <div class="fieldWrapper form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        {{ form.username }}
                    </div>
                    <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        {{ form.email }}
                        {% if error %}
                            <span class="help-block">
                                {% for err in errors %}
                                    <p>{{ err }}</p>
                                {% endfor %}
                            </span>
                        {% endif %}
                    </div>
                    <!-- form-group end.// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        {{ form.password1 }}
                        {{ form.password1.errors }}
                    </div>
                    <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        {{ form.password2 }}
                        {{ form.password2.errors }}

                    </div>
                    <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                    </div>
                    <!-- form-group// -->
                    <p class="text-center text-muted">Already Have an account? <a style="color: darkblue;" href="{% url 'users-login' %}">Log In</a> </p>
                    <!-- card.// -->
                </form>

            </article>
        </div>
        <!-- card.// -->
    </div>
{% endblock %}
